/* .dropDownprofile{
    position: absolute;
    top: 2.5rem;
    right: 4rem;
    width: 175px;
    padding: 15px;
    border-radius: 15px;
    border: 1px solid gray;
}
.dropDownprofile::before{
    content: '';
    position: absolute;
    top: -.79rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: white;
    border-left: 1px solid gray;
    border-top: 1px solid gray;
}
ul{
    padding-left: 10px;
}
.menu__list ul li{
    text-decoration: none;
    list-style: none;
} */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
.logo2 img{
    width: 150px;
    display: none;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    margin-bottom: 0;
    padding-right: 30px;
    border-bottom: .1px solid lightgray;
    height: 50px;
    background-color: white;
}
.content{
    display: flex;
    gap: 50px;
    align-items: center;
}

.favourites a{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: black;
}
.login__btn a{
    color: black;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
#currency{
    outline: none;
    border: none;
    width: 70px;
    cursor: pointer;
}